<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>


  {{#if pass}}
  
   <h1>Welcome {{sameName.name}}!</h1>
<ul>
   <li>Name: {{sameName.name}}</li>
   <li>age: {{sameName.age}}</li>
   <li>your password: {{sameName.password}}</li>
</ul>

<form action="/users" method="get">
   <button type="submit">All users</button>
</form>

   {{else}}
   <h1>password or username is incorrect</h1>
   {{/if}}
</body>
</html>